.navMenu{
    border-bottom: 2px solid rgb(218, 218, 218);
}
.navMenuInner{
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navMenuList{
    list-style-type: none;
    display: flex;
}

.navMenuList li{
    cursor: pointer;
    transition: .1s;
}

.navMenuList li:hover{
    color: rgb(255, 0, 0);
}

.navMenuList li:not(:last-child){
    margin-right: 30px;
}

@media screen and (max-width: 426px) {
    .navMenuList{
        flex-wrap: wrap;
    }
    .navMenuList li:nth-child(5), .navMenuList li:nth-child(6) {
        margin-top: 5px;
    }
}

@media screen and (max-width: 376px) {
    .navMenuInner{
        height: 80px;
    }
    .navMenuList li:nth-child(5), .navMenuList li:nth-child(6), .navMenuList li:nth-child(4) {
        margin-top: 5px;
    }
}
